version: '3'
services:
  jupyter:
    build: 
      context: .
      dockerfile: ./docker/jupyter/Dockerfile
    volumes:
      - work:/work
      - /Users/Puneet89/scratch/flexograph-eval/results:/results
    ports:
      - 8888:8888
    environment:
      JUPYTER_ENABLE_LAB: "yes"
